<div class="container part-ticket-edit">
    <div class="well">
        <form class="form-horizontal" role="form" name="form" novalidate val-form ng-submit="save()">
            <fieldset>
                <legend ng-cloak>
                    <span ng-show="!isNewTicket">Ticket: {{ticket.number}}</span>
                    <span ng-show="isNewTicket">New Ticket</span>
                </legend>
                <div class="form-group" ng-show="!isNewTicket" ng-cloak>
                    <label for="inputStatusOpen" class="col-lg-2 control-label">Status</label>
                    <div class="col-lg-8">
                        <label class="radio-inline">
                            <input type="radio" ng-model="ticket.status" name="status" id="inputStatusOpen" value="open"> Open
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="ticket.status" name="status" id="inputStatusClosed" value="closed"> Closed
                        </label>
                    </div>
                </div>
                <div class="form-group" val-group>
                    <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-8">
                        <input type="text" name="title" ng-model="ticket.title" required ng-minlength="3" ng-maxlength="50" val-model
                               class="form-control" id="inputTitle" placeholder="Title" autocomplete="off">

                        <p val-error="required" class="help-block">Title is required.</p>
                        <p val-error="minlength" class="help-block">Please enter at least 3 characters.</p>
                        <p val-error="maxlength" class="help-block">Title is too long.</p>
                    </div>
                </div>
                <div class="form-group" val-group>
                    <label for="inputDescription" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" ng-model="ticket.description" required rows="3" id="inputDescription" val-model></textarea>
                        <p val-error class="help-block">Description is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2 buttons">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>